.inputContainer {
    width: 49.2rem;
    position: relative;
    display: flex;
    align-items: center;
}

.inputContainer>input {
    width: 100%;
    padding: 1.2rem 6.4rem ;
    outline: none;
    border-radius: 7rem;
    border: 1px solid rgba(195, 212, 233, 0.40);
    background: #FFF;
}

.inputContainer>input::placeholder {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
}

.leftIcon,
.rightIcon {
    width: 24px;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
}

.leftIcon {
    left: 2rem;
}

.rightIcon {
    right: 3rem;
}